@import "../variables";

.ActChip {
  padding: #{$spacer / 4} #{$spacer / 2};
  border-radius: 5px;
  border: 1px solid var(--currentContrast);
  display: inline-block;
  line-height: 30px;
  margin: $spacer/2 0;
}
