@import "../variables";

.Main {
  padding: $spacer;
  position: relative;
  z-index: 1;

  a,
  a:hover,
  a:visited {
    color: var(--backgroundContrast);
  }

  .main {
    position: relative;
    z-index: 1;
  }
}
